.l-primary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.l-primary .left-out > .bottom-out {
  text-align: right;
}

.l-primary .right-out > .out-one,
.l-primary .out-two,
.l-primary .out-three,
.l-primary .out-four,
.l-primary .out-five,
.l-primary .out-six {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.l-primary .left-out,
.l-primary .right-out {
  width: 32px;
  height: 300px;
}

.l-primary .left-out .top-out,
.l-primary .left-out .out-one,
.l-primary .left-out .out-three,
.l-primary .left-out .out-four,
.l-primary .left-out .out-six,
.l-primary .left-out .bottom-out,
.l-primary .right-out .top-out,
.l-primary .right-out .out-one,
.l-primary .right-out .out-three,
.l-primary .right-out .out-four,
.l-primary .right-out .out-six,
.l-primary .right-out .bottom-out {
  height: 20px;
  margin: 1px;
}

.l-primary .left-out .out-two,
.l-primary .left-out .out-five,
.l-primary .right-out .out-two,
.l-primary .right-out .out-five {
  height: 104px;
  margin: 1px;
}

.l-primary .one,
.l-primary .three,
.l-primary .four,
.l-primary .six,
.l-primary .seven,
.l-primary .nine,
.l-primary .ten,
.l-primary .twelve {
  width: 20px;
  height: 300px;
}

.l-primary .one .top-out,
.l-primary .one .bottom-out,
.l-primary .three .top-out,
.l-primary .three .bottom-out,
.l-primary .four .top-out,
.l-primary .four .bottom-out,
.l-primary .six .top-out,
.l-primary .six .bottom-out,
.l-primary .seven .top-out,
.l-primary .seven .bottom-out,
.l-primary .nine .top-out,
.l-primary .nine .bottom-out,
.l-primary .ten .top-out,
.l-primary .ten .bottom-out,
.l-primary .twelve .top-out,
.l-primary .twelve .bottom-out {
  height: 20px;
  margin: 1px;
}

.l-primary .one .out-one,
.l-primary .one .out-three,
.l-primary .one .out-four,
.l-primary .one .out-six,
.l-primary .three .out-one,
.l-primary .three .out-three,
.l-primary .three .out-four,
.l-primary .three .out-six,
.l-primary .four .out-one,
.l-primary .four .out-three,
.l-primary .four .out-four,
.l-primary .four .out-six,
.l-primary .six .out-one,
.l-primary .six .out-three,
.l-primary .six .out-four,
.l-primary .six .out-six,
.l-primary .seven .out-one,
.l-primary .seven .out-three,
.l-primary .seven .out-four,
.l-primary .seven .out-six,
.l-primary .nine .out-one,
.l-primary .nine .out-three,
.l-primary .nine .out-four,
.l-primary .nine .out-six,
.l-primary .ten .out-one,
.l-primary .ten .out-three,
.l-primary .ten .out-four,
.l-primary .ten .out-six,
.l-primary .twelve .out-one,
.l-primary .twelve .out-three,
.l-primary .twelve .out-four,
.l-primary .twelve .out-six {
  height: 20px;
  background-color: #0e6eb8;
  margin: 1px;
}

.l-primary .one .out-two,
.l-primary .one .out-five,
.l-primary .three .out-two,
.l-primary .three .out-five,
.l-primary .four .out-two,
.l-primary .four .out-five,
.l-primary .six .out-two,
.l-primary .six .out-five,
.l-primary .seven .out-two,
.l-primary .seven .out-five,
.l-primary .nine .out-two,
.l-primary .nine .out-five,
.l-primary .ten .out-two,
.l-primary .ten .out-five,
.l-primary .twelve .out-two,
.l-primary .twelve .out-five {
  height: 104px;
  background-color: #0e6eb8;
  margin: 1px;
}

.l-primary .two,
.l-primary .five,
.l-primary .eight,
.l-primary .eleven {
  width: 80px;
  height: 300px;
}

.l-primary .two .top-out,
.l-primary .two .bottom-out,
.l-primary .five .top-out,
.l-primary .five .bottom-out,
.l-primary .eight .top-out,
.l-primary .eight .bottom-out,
.l-primary .eleven .top-out,
.l-primary .eleven .bottom-out {
  height: 20px;
  margin: 1px;
}

.l-primary .two .out-one,
.l-primary .two .out-three,
.l-primary .two .out-four,
.l-primary .two .out-six,
.l-primary .five .out-one,
.l-primary .five .out-three,
.l-primary .five .out-four,
.l-primary .five .out-six,
.l-primary .eight .out-one,
.l-primary .eight .out-three,
.l-primary .eight .out-four,
.l-primary .eight .out-six,
.l-primary .eleven .out-one,
.l-primary .eleven .out-three,
.l-primary .eleven .out-four,
.l-primary .eleven .out-six {
  height: 20px;
  background-color: #0e6eb8;
  margin: 1px;
}

.l-primary .two .out-two,
.l-primary .two .out-five,
.l-primary .five .out-two,
.l-primary .five .out-five,
.l-primary .eight .out-two,
.l-primary .eight .out-five,
.l-primary .eleven .out-two,
.l-primary .eleven .out-five {
  font-size: 48px;
  height: 104px;
  background-color: #fff;
  margin: 1px;
  color: #0e6eb8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=SixteenLeft.css.map */