.l-secondary {
  margin-top: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.l-secondary .left-out > .bottom-out {
  text-align: right;
}

.l-secondary .right-out >
.out-one,
.l-secondary .out-two,
.l-secondary .out-three,
.l-secondary .out-four,
.l-secondary .out-five,
.l-secondary .out-six,
.l-secondary .out-seven,
.l-secondary .out-nine,
.l-secondary .out-ten,
.l-secondary .out-twelve,
.l-secondary .bottom-out {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.l-secondary .left-out,
.l-secondary .right-out {
  width: 32px;
  height: auto;
}

.l-secondary .left-out .top-out,
.l-secondary .left-out .out-one,
.l-secondary .left-out .out-three,
.l-secondary .left-out .out-four,
.l-secondary .left-out .out-six,
.l-secondary .left-out .out-seven,
.l-secondary .left-out .out-nine,
.l-secondary .left-out .out-ten,
.l-secondary .left-out .out-twelve,
.l-secondary .left-out .bottom-out,
.l-secondary .right-out .top-out,
.l-secondary .right-out .out-one,
.l-secondary .right-out .out-three,
.l-secondary .right-out .out-four,
.l-secondary .right-out .out-six,
.l-secondary .right-out .out-seven,
.l-secondary .right-out .out-nine,
.l-secondary .right-out .out-ten,
.l-secondary .right-out .out-twelve,
.l-secondary .right-out .bottom-out {
  height: 20px;
  margin: 1px;
}

.l-secondary .left-out .out-two,
.l-secondary .left-out .out-five,
.l-secondary .left-out .out-eight,
.l-secondary .left-out .out-eleven,
.l-secondary .right-out .out-two,
.l-secondary .right-out .out-five,
.l-secondary .right-out .out-eight,
.l-secondary .right-out .out-eleven {
  height: 88px;
  margin: 1px;
}

.l-secondary .one,
.l-secondary .three,
.l-secondary .four,
.l-secondary .six,
.l-secondary .seven,
.l-secondary .nine,
.l-secondary .ten,
.l-secondary .twelve {
  width: 20px;
  height: auto;
}

.l-secondary .one .top-out,
.l-secondary .one .bottom-out,
.l-secondary .three .top-out,
.l-secondary .three .bottom-out,
.l-secondary .four .top-out,
.l-secondary .four .bottom-out,
.l-secondary .six .top-out,
.l-secondary .six .bottom-out,
.l-secondary .seven .top-out,
.l-secondary .seven .bottom-out,
.l-secondary .nine .top-out,
.l-secondary .nine .bottom-out,
.l-secondary .ten .top-out,
.l-secondary .ten .bottom-out,
.l-secondary .twelve .top-out,
.l-secondary .twelve .bottom-out {
  height: 20px;
  margin: 1px;
}

.l-secondary .one .out-one,
.l-secondary .one .out-three,
.l-secondary .one .out-four,
.l-secondary .one .out-six,
.l-secondary .one .out-seven,
.l-secondary .one .out-nine,
.l-secondary .one .out-ten,
.l-secondary .one .out-twelve,
.l-secondary .three .out-one,
.l-secondary .three .out-three,
.l-secondary .three .out-four,
.l-secondary .three .out-six,
.l-secondary .three .out-seven,
.l-secondary .three .out-nine,
.l-secondary .three .out-ten,
.l-secondary .three .out-twelve,
.l-secondary .four .out-one,
.l-secondary .four .out-three,
.l-secondary .four .out-four,
.l-secondary .four .out-six,
.l-secondary .four .out-seven,
.l-secondary .four .out-nine,
.l-secondary .four .out-ten,
.l-secondary .four .out-twelve,
.l-secondary .six .out-one,
.l-secondary .six .out-three,
.l-secondary .six .out-four,
.l-secondary .six .out-six,
.l-secondary .six .out-seven,
.l-secondary .six .out-nine,
.l-secondary .six .out-ten,
.l-secondary .six .out-twelve,
.l-secondary .seven .out-one,
.l-secondary .seven .out-three,
.l-secondary .seven .out-four,
.l-secondary .seven .out-six,
.l-secondary .seven .out-seven,
.l-secondary .seven .out-nine,
.l-secondary .seven .out-ten,
.l-secondary .seven .out-twelve,
.l-secondary .nine .out-one,
.l-secondary .nine .out-three,
.l-secondary .nine .out-four,
.l-secondary .nine .out-six,
.l-secondary .nine .out-seven,
.l-secondary .nine .out-nine,
.l-secondary .nine .out-ten,
.l-secondary .nine .out-twelve,
.l-secondary .ten .out-one,
.l-secondary .ten .out-three,
.l-secondary .ten .out-four,
.l-secondary .ten .out-six,
.l-secondary .ten .out-seven,
.l-secondary .ten .out-nine,
.l-secondary .ten .out-ten,
.l-secondary .ten .out-twelve,
.l-secondary .twelve .out-one,
.l-secondary .twelve .out-three,
.l-secondary .twelve .out-four,
.l-secondary .twelve .out-six,
.l-secondary .twelve .out-seven,
.l-secondary .twelve .out-nine,
.l-secondary .twelve .out-ten,
.l-secondary .twelve .out-twelve {
  height: 20px;
  background-color: #0e6eb8;
  margin: 1px;
}

.l-secondary .one .out-two,
.l-secondary .one .out-five,
.l-secondary .one .out-eight,
.l-secondary .one .out-eleven,
.l-secondary .three .out-two,
.l-secondary .three .out-five,
.l-secondary .three .out-eight,
.l-secondary .three .out-eleven,
.l-secondary .four .out-two,
.l-secondary .four .out-five,
.l-secondary .four .out-eight,
.l-secondary .four .out-eleven,
.l-secondary .six .out-two,
.l-secondary .six .out-five,
.l-secondary .six .out-eight,
.l-secondary .six .out-eleven,
.l-secondary .seven .out-two,
.l-secondary .seven .out-five,
.l-secondary .seven .out-eight,
.l-secondary .seven .out-eleven,
.l-secondary .nine .out-two,
.l-secondary .nine .out-five,
.l-secondary .nine .out-eight,
.l-secondary .nine .out-eleven,
.l-secondary .ten .out-two,
.l-secondary .ten .out-five,
.l-secondary .ten .out-eight,
.l-secondary .ten .out-eleven,
.l-secondary .twelve .out-two,
.l-secondary .twelve .out-five,
.l-secondary .twelve .out-eight,
.l-secondary .twelve .out-eleven {
  height: 88px;
  background-color: #0e6eb8;
  margin: 1px;
}

.l-secondary .two,
.l-secondary .five,
.l-secondary .eight,
.l-secondary .eleven {
  width: 64px;
  height: auto;
}

.l-secondary .two .top-out,
.l-secondary .two .bottom-out,
.l-secondary .five .top-out,
.l-secondary .five .bottom-out,
.l-secondary .eight .top-out,
.l-secondary .eight .bottom-out,
.l-secondary .eleven .top-out,
.l-secondary .eleven .bottom-out {
  height: 20px;
  margin: 1px;
}

.l-secondary .two .out-one,
.l-secondary .two .out-three,
.l-secondary .two .out-four,
.l-secondary .two .out-six,
.l-secondary .two .out-seven,
.l-secondary .two .out-nine,
.l-secondary .two .out-ten,
.l-secondary .two .out-twelve,
.l-secondary .five .out-one,
.l-secondary .five .out-three,
.l-secondary .five .out-four,
.l-secondary .five .out-six,
.l-secondary .five .out-seven,
.l-secondary .five .out-nine,
.l-secondary .five .out-ten,
.l-secondary .five .out-twelve,
.l-secondary .eight .out-one,
.l-secondary .eight .out-three,
.l-secondary .eight .out-four,
.l-secondary .eight .out-six,
.l-secondary .eight .out-seven,
.l-secondary .eight .out-nine,
.l-secondary .eight .out-ten,
.l-secondary .eight .out-twelve,
.l-secondary .eleven .out-one,
.l-secondary .eleven .out-three,
.l-secondary .eleven .out-four,
.l-secondary .eleven .out-six,
.l-secondary .eleven .out-seven,
.l-secondary .eleven .out-nine,
.l-secondary .eleven .out-ten,
.l-secondary .eleven .out-twelve {
  height: 20px;
  background-color: #0e6eb8;
  margin: 1px;
}

.l-secondary .two .out-two,
.l-secondary .two .out-five,
.l-secondary .two .out-eight,
.l-secondary .two .out-eleven,
.l-secondary .five .out-two,
.l-secondary .five .out-five,
.l-secondary .five .out-eight,
.l-secondary .five .out-eleven,
.l-secondary .eight .out-two,
.l-secondary .eight .out-five,
.l-secondary .eight .out-eight,
.l-secondary .eight .out-eleven,
.l-secondary .eleven .out-two,
.l-secondary .eleven .out-five,
.l-secondary .eleven .out-eight,
.l-secondary .eleven .out-eleven {
  font-size: 48px;
  height: 88px;
  background-color: #fff;
  margin: 1px;
  color: #0e6eb8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=ThirtyTwoRight.css.map */