body {
  margin: 0;
  padding: 0;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #0e6eb8;
  .header {
    height: 50vh;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  h3,
  h5 {
    color: lighten(#0e6eb8, 32);
    margin: 0;
    font-size: 20px;
  }
  h1 {
    color: #fff;
    margin: 0;
    font-size: 40px;
    span {
      color: lighten(#0e6eb8, 32);
    }
  }
  .hero {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
  }
  .footer {
    height: 32px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    footer {
      opacity: 0.6;
    }
  }
}

.sub-header {
  height: 10vh;
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sub-hero {
  height: 20vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
}

@media (min-width: 750px) {
  .main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    h1 {
      font-size: 48px;
      margin: 0;
    }
    h3,
    h5 {
      font-size: 24px;
    }
  }
  .btn {
    margin-top: 48px;
  }
  .sub-header {
    h1 {
      font-size: 24px;
    }
  }
  .paper-size {
    height: 48px;
    width: 100%;
    font-size: 32px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #fff;
    margin-top: 48px;
  }
}
