body {
  margin: 0;
  padding: 0;
}

.btn {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 16px;
  .a-size{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    button{
      margin: 8px;
    }
  }
  .b-size{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    button{
      margin: 8px;
    }
  }
}

.main {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .header {
    height: 50vh;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #0e6eb8;
  }
  h3,
  h5 {
    color: lighten(#0e6eb8, 32);
    margin: 0;
    font-size: 20px;
  }
  h1 {
    color: #fff;
    margin: 0;
    font-size: 32px;
    span {
      color: lighten(#0e6eb8, 32);
    }
  }
  .hero {
    height: 50vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
  }
  .footer {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    footer {
      opacity: 0.6;
    }
  }
}

.sub-header {
  height: auto;
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #0e6eb8;
}

.sub-hero {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
}

.paper-size{
  line-height: 32px;
  font-size: 24px;
}

@media (min-width: 600px) {
  .main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    .btn {
      display: flex;
    }
    h1 {
      font-size: 48px;
      margin: 0;
    }
    h3,
    h5 {
      font-size: 24px;
    }
  }
  .sub-header {
    h1 {
      font-size: 24px;
      line-height: 48px;
      height: auto;
    }
  }

  .paper-size {
    height: auto;
    width: 100%;
    font-size: 32px;
    line-height: 32px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #fff;
    margin-top: 32px;
  }
}
